body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    background: #EEEEEE;
    padding: 60px 0;
}

header nav ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #8B8B8B;
    font-size: 24px;
}

header nav ul li a:hover {
    color: black;
}

h1, h2, h3, h4 {
    color: #3e3e3e;
}

p {
    color: #585858;
    font-size: 18px;
}

footer {
    background: #EEEEEE;
    padding: 50px 0;
    text-align: center;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid orange; */
}

.active-link {
    color: #f99600;
}


#hero {
    padding: 25px 0;
    background: #FDFDFE;
    font-size: 18px;
}

.hero-content-container {
    display: flex;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 72px;
    margin: 0;
}

.hero-text h2 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.hero-button-container {
    display: flex;
    justify-content: center;
}

.hero-button {
    background: linear-gradient(to top right, #ED1C24, #FCEE21);
    font-size: 48px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 50px;
    text-transform: uppercase;
}

.hero-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-img {
    width: 80%;
}

.about-text-container {
    width: 50%;
}
#about h2 {
    font-size: 30px;
}
#about p {
    margin: 36px 0;
}